<div class="container-fluid pageBeginning">

    <h3 class="text-center">Turmas disponíveis</h3>

    <form method="POST" action="{{pathPrefix}}/subscriptions">
        <div class="row row-content">
            {{#each classeSectionsByClass}}
                <div class="col-md-3 divSpacing">
                    <table class="table table-bordered">
                        <tr>
                            <th colspan="2">{{this.name}}</th>
                        </tr>
                        {{#each this.classSections}} 
                        <tr class="border_bottom">
                            <td>{{this}}</td>
                            <td class="text-center">
                                <input type="checkbox" name={{../this.id}} value={{this}} id="{{../this.id}}{{this}}">
                            </td>
                        </tr>
                        {{/each}}
                    </table>
                </div>
            {{/each}}
        </div>

        <div class="divSpacing text-center">
            <input class="btn btn-dark btn-lg btn-block" type="submit" value="Concluir selecção"/>
        </div>
    </form>

</div>

<script>
    
    let elem;
    
    {{#each userSubscribedClasses}}

        {{#each this.classes}}
            elem = document.getElementById(`{{../this.id}}{{this}}`)
            elem.disabled = true;
            elem.checked = true;
        {{/each}}

    {{/each}}

</script>