<div class="container-fluid">
    
    <div class="row row-content align-items-center">
        <div class="col-12 col-sm-4 col-md-3">
            <a href="https://www.isel.pt" target="_blank"><img src="/public/images/isel.png" alt="ISEL Logo" class="img-fluid"></a>
        </div>
        <div class="col col-sm col-md">
            <h2>Bem vindo ao i-on Web!</h2>
            <p>Na nossa aplicação terás acesso aos teus recursos académicos de uma forma simples e conveniente.
            Poderás ver o teu horário, calendário e informações sobre as disciplinas escolhidas por ti.
            Para usufruires de todas estas funcionalidades apenas tens de te autenticar na nossa aplicação.</p>
        </div>
    </div>
    
    {{#if user}}
        <div class="row row-content justify-content-center">
            <h3>Próximos eventos</h3>
        </div>
        <div class="row row-content">
            <div class="col-12 col-sm-6">
                <h4 class="text-center">Trabalhos</h4>
                {{#each events.assignments}}
                    <div class="alert alert-primary alert-dismissible fade show text-center" role="alert">
                        <h5>{{this.event}}</h5>
                        <p><strong>Data de Entrega:</strong> {{this.date}}         <strong>Hora:</strong> {{this.time}}</p>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>         
                    </div>
                {{/each}}
            </div>
            <div class="col col-sm-6">
                <h4 class="text-center">Testes e Exames</h4>
                {{#each events.testsAndExams}}
                    <div class="alert alert-success alert-dismissible fade show text-center" role="alert">
                        <h5>{{this.event}}</h5>
                        <p><strong>Data:</strong> {{this.date}}         <strong>Duração:</strong> {{this.startTime}}-{{this.endTime}}         <strong>Sala:</strong> {{this.location}}</p>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>         
                    </div>            
        {{/each}}
            </div>
        </div>
    {{/if}}
    
    <div class="row row-content justify-content-center divSpacing">
        <h3>Cursos</h3>
    </div>
<!--
    <div class="row row-content">
        <div class="col-12 col-sm-6">
            <h4 class="text-center">Licenciaturas</h4>
            {{#each bachelor}}
                <a class="offset-3" href="/programmes/{{this.programmeId}}">{{this.name}}</a><br>
            {{/each}}
        </div>
        <div class="col col-sm-6">
            <h4 class="text-center">Mestrados</h4>
            {{#each master}}
                <a class="offset-3" href="/programmes/{{this.programmeId}}">{{this.name}}</a><br>
            {{/each}}
         </div>
    </div>
-->
    <div class="row row-content">

        <div class="col-12 col-lg-6">
            <h4 class="text-center">Licenciaturas</h4>
            <table class="table table-striped table-hover"> <!--table-responsive-sm-->
                <caption>Licenciaturas</caption>
                <thead>
                    <tr>
                        <th class="my-auto" scope="col">Curso</th>
                        <th class="my-auto" scope="col"></th>
                    </tr>
                </thead>
                {{#each bachelor}}
                    <tbody>
                        <tr>
                            <td class="my-auto">{{this.name}}</td>
                            <td class="my-auto"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></td>
                        </tr>
                    </tbody>
                {{/each}}

            </table>
        </div>

        <div class="col-12 col-lg-6">
            <h4 class="text-center">Mestrados</h4>
            <table class="table table-striped table-hover"> <!--table-responsive-sm-->
                <caption>Mestrados</caption>
                <thead>
                    <tr>
                        <th class="my-auto" scope="col">Curso</th>
                        <th class="my-auto" scope="col"></th>
                    </tr>
                </thead>
                {{#each master}}
                    <tbody>
                        <tr>
                            <td class="my-auto">{{this.name}}</td>
                            <td class="my-auto"><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></td>
                        </tr>
                    </tbody>
                {{/each}}

            </table>
            
        </div>

    </div><br><br><br><br>

</div>

<!-- Footer -->
<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Social media -->
    <section class="mb-4">
        <!-- Facebook -->
        <a class="btn btn-outline-primary m-1" target="_blank" href="https://www.facebook.com/isel.pt/" role="button">
            <i class="fa fa-facebook-square fa-2x"></i>
        </a>

        <!-- Twitter -->
        <a class="btn btn-outline-primary m-1" target="_blank" href="https://twitter.com/isel1852" role="button">
            <i class="fa fa-twitter fa-2x"></i>
        </a>

        <!-- Instagram -->
        <a class="btn btn-outline-primary m-1" target="_blank" href="https://www.instagram.com/isel_lisbon_engineering_school/?hl=pt" role="button">
            <i class="fa fa-instagram fa-2x"></i>
        </a>

        <!-- Linkedin -->
        <a class="btn btn-outline-primary m-1" target="_blank" href="https://pt.linkedin.com/school/isel-instituto-superior-de-engenharia-de-lisboa/" role="button">
            <i class="fa fa-linkedin-square fa-2x"></i>
        </a>

        <!-- Github -->
        <a class="btn btn-outline-primary m-1" target="_blank" href="https://github.com/i-on-project" role="button">
            <i class="fa fa-github fa-2x"></i>
        </a>
    </section><br>
    <!-- Section: Social media -->

    <div class="row">
            <!--Grid column-->
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
            <h5 class="text-uppercase">Sobre</h5>

            <p>O projeto i-on Web faz parte da iniciativa i-on que engloba um conjunto de projetos com a finalidade de melhorar
                a vida académica dos estudantes fornecendo-lhes os recursos académicos de uma forma computacionalmente conveniente
                e num formato extensível. A iniciativa i-on é open-source, podendo ser estudada por qualquer um. Tu podes ser o
                próximo a contribuir, junta-te aos <a href="/about">docentes e alunos</a> que participaram nesta iniciativa.</p>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Contactos</h5>
                <address>
                    R. Conselheiro Emídio Navarro 1,<br>
                    1959-007 Chelas<br>
                    Lisboa<br>
                    Tel.: (+351) 218 317 000
                </address>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Links Úteis</h5>

            <ul class="list-unstyled mb-0">
                <li><a href="https://www.isel.pt/" target="_blank">ISEL Home Page</a></li>
                <li><a href="https://portal.ipl.pt/isel/netpa/page?stage=difhomestage" target="_blank">Portal Académico</a></li>
                <li><a href="https://2021moodle.isel.pt/?redirect=0" target="_blank">Moodle 2020/2021</a></li>
                <li><a href="https://www.ipl.pt/" target="_blank">IPL Home Page</a></li>
            </ul>
            </div>
            <!--Grid column-->
        </div>
        <!-- Section: Links -->
    </div>
    <!-- Grid container -->

    <div class="text-center p-3 pageFinalSection">
        2021 | Team i-on Web
    </div>

</footer>
<!-- Footer -->