<!DOCTYPE html>
<html>

	<head>
		<!-- Required meta tags always come first -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		<!-- CSS -->
		<link rel="stylesheet" href="/dependecies/bootstrap/dist/css/bootstrap.min.css"> 		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="/dependecies/bootstrap-icons/font/bootstrap-icons.css">	<!-- Bootstrap icons -->
		<link rel="stylesheet" href="/dependecies/font-awesome/css/font-awesome.min.css"> 		<!-- FontAwesome icons -->
		<link rel="stylesheet" href="/public/css/mystyle.css" type="text/css">					<!-- Customized CSS -->
		<link rel="stylesheet" href="/public/css/errors.css" type="text/css">					<!-- Customized CSS for errors -->

		<title>i-on Web</title>
		<link rel="shortcut icon" type="image/png" href="/public/images/logo2.png">
	</head>
	
	<body>
	
<!-- Navegation Bar -->
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">

			<!-- Brand -->
			<a class="navbar-brand" href="/">
				<div class="logo-image">
						<img src="/public/images/logo.png" class="img-fluid">
				</div>
			</a>

			<!-- Toggler/collapsibe Button -->
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
				<span class="navbar-toggler-icon"></span>
			</button>
			
			<!-- Links -->
			<div class="collapse navbar-collapse" id="collapsibleNavbar">
				<ul class="navbar-nav">
					<li id="home" class="nav-item">
						<a href="/" class="nav-link"><i class="fa fa-fw fa-home fa-lg" aria-hidden="true"></i>Home</a>
					</li>
					<li id="schedule" class="nav-item">
						<a href="/schedule" class="nav-link"><i class="fa fa-fw fa-clock-o fa-lg" aria-hidden="true"></i>Horário</a>
					</li>
					<li id="calendar" class="nav-item">
						<a href="/calendar" class="nav-link"><i class="fa fa-fw fa-calendar fa-lg" aria-hidden="true"></i>Calendário</a>
					</li>
					<li id="myCourses" class="nav-item">
						<a href="/courses" class="nav-link"><i class="fa fa-fw fa-book fa-lg" aria-hidden="true"></i>As minhas disciplinas</a>
					</li>
					<li id="programmes" class="nav-item">
						<div class="dropdown">

							<a class="nav-link" href="#" data-bs-toggle="dropdown"><i class="fa fa-fw fa-university fa-lg" aria-hidden="true"></i>Cursos</a>
	

							<ul class="dropdown-menu multi-level" role="menu">
								<li class="dropdown-submenu">
									<a  class="dropdown-item" href="#">Licenciaturas</a>
									<ul class="dropdown-menu">
										{{#each bachelor}}
                							<li class="dropdown-item"><a href="/programme/{{this.programmeId}}">{{this.acronym}}</a></li>
            							{{/each}}
									</ul>
								</li>
								<li class="dropdown-submenu">
									<a  class="dropdown-item" href="#">Mestrados</a>
									<ul class="dropdown-menu">
										{{#each master}}
                							<li class="dropdown-item"><a href="/programme/{{this.programmeId}}">{{this.acronym}}</a></li>
            							{{/each}}
									</ul>
								</li>
							</ul>
						</div>
					</li>



				</ul>
				
				<!-- Authentication options -->
				<!-- TO DO - Simplify the following code -->
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
					  	{{#if user}}
							<a href="/settings" class="nav-link"><i class="fa fa-fw fa-user fa-lg" aria-hidden="true"></i><strong>{{user.username}}</strong></a>
						{{/if}}
					</li>
					<li class="nav-item">
					  	{{#if user}}
							<a href="/logout" class="nav-link"><i class="fa fa-fw fa-sign-out fa-lg" aria-hidden="true"></i>Sair</a>
						{{else}}
							<a id="login" href="/login" class="nav-link"><i class="fa fa-fw fa-sign-in fa-lg" aria-hidden="true"></i>Iniciar sessão</a>
						{{/if}}
					</li>
				</ul>
				
			</div>
			
		</nav>
		
		
		<div>
			{{{body}}}
		</div>
		
		<script>
			{{#if page}} <!-- Coloca-se a ativo na navbar a página que está a ser vista -->
				const elem = document.querySelector('#{{this.page}}');
				elem.classList.add("active");
			{{/if}}
		</script>

		<!-- jQuery first, then Popper.js, then Bootstrap JS. (Bootstrap dependencies) -->
		<script src="/dependecies/jquery/dist/jquery.slim.min.js"></script>
		<script src="/dependecies/popper.js/dist/umd/popper.min.js"></script>
		<script src="/dependecies/bootstrap/dist/js/bootstrap.min.js"></script>
	
	</body>
	
</html>
