<div class="container-fluid pageBeginning">
    <h3 class="text-center">Unidades Curriculares disponíveis</h3>
    {{#if programmeCalendarTermOffers}}
        <br>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <div class="row row-content align-items-center">
                <div class="col-1 col-sm-2 col-md-2">
                    <img src="/public/images/disclaimer.png" alt="Projeto i-on Web disclaimer" class="img-fluid">
                </div>
                <div class="col col-sm col-md">
                    <h5>Aviso!</h5>
                    <p>A selecção de unidades curriculares não substitui a inscrição oficial às mesmas na instituição frequentada.</p>
                </div>
            </div>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>         
        </div>
        <form method="GET" action="/available-class-sections">
        <div class="row row-content">
            <div class="col-md divSpacing">
                <table class="table table-bordered">
                    <tr>
                        <th>Unidade Curricular</th>
                        <th class="text-center">ECTS</th>
                        <th class="text-center">Área</th>
                        <th class="text-center">Semestre</th>
                        <th class="text-center">Obrigatória</th>
                        <th class="text-center">
                            <input type="checkbox" onClick="toggle(this, 'id')">
                        </th>
                    </tr>
                        {{#each programmeCalendarTermOffers}}
                        <tr class="border_bottom">
                            <td class="col-md-4">{{this.name}}</td>
                            <td class="col-md-1 text-center">{{this.ects}}</td>
                            <td class="col-md-1 text-center">{{this.scientificArea}}</td>
                            <td class="col-md-1 text-center">{{this.termNumber}}º</td>
                            <td class="col-md-1 text-center">
                                {{#if this.optional}}
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                {{else}}
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                {{/if}}
                            </td>
                            <td class="col-md-1 text-center">
                                {{#if this.optional}}
                                    <input type="checkbox" name="id" value={{this.courseId}}>
                                {{else}}
                                    <input type="checkbox" name="id" value={{this.courseId}}>
                                {{/if}}
                            </td>
                        </tr>
                    {{/each}}
                </table>
            </div>
        </div>
        <div class="divSpacing text-center">
        <button type="submit" class="btn btn-dark btn-lg btn-block">Concluir selecção</button>
        </div>
        </form>
    {{else}}
        <div class="divSpacing text-center">
            <p>Não existem unidades curriculares disponíveis</p>
        </div>
    {{/if}}
</div>


<script>

    function toggle(source, term) {
        checkboxes = document.getElementsByName(term);
    
        for(let i = 0, n = checkboxes.length; i<n ; i++) {
            checkboxes[i].checked = source.checked;
        }
    }

</script>