<div class="container-fluid pageBeginning">
    
    <div class="row row-content justify-content-center">
        <h3>Definições</h3>
    </div>


    <div class="row row-content align-items-center divSpacing">
        <div class="offset-1 col-12 col-sm-5">
            <h5>Nome de utilizador: </h5>       
            <p>{{user.username}}</p>
        </div>
        <div class="col col-sm">
            <h5>Curso do utilizador: </h5>
            <p></p>
        </div>
    </div>

    <div class="form-group divSpacing">
        <button id="editButton" onclick=edit() class="btn btn-outline-dark pull-right">Editar perfil</button>  
 
        <form method="POST" action="/profile" id="profileDiv" style="display:none">

            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <div class="row row-content align-items-center">
                    <div class="col-1 col-sm-1 col-md-1">
                        <img src="/public/images/disclaimer.png" alt="Projeto i-on Web disclaimer" class="img-fluid">
                    </div>
                    <div class="col col-sm col-md">
                        <h5>Aviso!</h5>
                        <p>A selecção de curso não substitui a inscrição oficial ao mesmo na instituição frequentada.</p>
                    </div>
                </div>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>         
            </div>
            <!-- <div class="offset-1 col-sm-3 divSpacing">-->
                <label class="col-form-label">Nome de utilizador:</label><br>
                <input type="text" class="form-control" name="newUsername" value={{user.username}} required>      
           <!-- </div>
            <div class="offset-1 col-sm-4 row row-content divSpacing">-->
                <label class="col-form-label">Curso do utilizador: </label><br>
                <select class="form-control" name="newProgramme">
                    {{#each bachelor}}
                        <option value={{this.programmeId}}>{{this.acronym}} ({{this.name}})</option>
                    {{/each}}
                    {{#each master}}
                        <option value={{this.programmeId}}>{{this.acronym}} ({{this.name}})</option>
                    {{/each}}
                </select>
            <div class="row row-content divSpacing pull-right">
                <button type="submit" href="/profile" class="btn btn-dark">Guardar alterações</button>
                <button  type="button" onclick=back() class="btn btn-outline-dark">Cancelar</button> 
            </div>
        </form>
    </div>
</div>
<br>
<div class="divSpacing">
    <a class="btn btn-outline-danger pull-right" href="/" role="button"><i class="fa fa-trash" aria-hidden="true"></i>  Apagar conta</a>
</div>

<script>

    function edit(){
        $('#editButton').hide();
        $('#profileDiv').show();

    }

    function back() {
        $('#editButton').show();
        $('#profileDiv').hide();

    }
</script>
