<div class="container-fluid pageBeginning">
    <h3 class="text-center">Horário</h3>

    {{#if schedule}}

        <div class="schedule">
            
            <div class="schedule_header">
                <span class="dl">Time</span>
                <span class="ds">Ti</span>
            </div>  

            <!-- Week days-->
            <div class="schedule_header schedule-sunday">
                <span class="dl">Sunday</span>
                <span class="ds">Su</span>
            </div>
            <div class="schedule_header schedule-monday">
                <span class="dl">Segunda</span>
                <span class="ds">M</span>
            </div>
            <div class="schedule_header schedule-tuesday">
                <span class="dl">Terça</span>
                <span class="ds">T</span>
            </div>
            <div class="schedule_header schedule-wednesday">
                <span class="dl">Quarta</span>
                <span class="ds">W</span>
            </div>
            <div class="schedule_header schedule-thursday">
                <span class="dl">Quinta</span>
                <span class="ds">Th</span>
            </div>
            <div class="schedule_header schedule-friday">
                <span class="dl">Sexta</span>
                <span class="ds">F</span>
            </div>
            <div class="schedule_header schedule-saturday">
                <span class="dl">Sábado</span>
                <span class="ds">Sa</span>
            </div>
            <!-- ./Week days-->
            

            <!-- Time-->
            <div class="schedule_time time-from-s">08:00</div>
            <div class="schedule_time time-from-sf">08:30</div>
            <div class="schedule_time time-from-st">09:00</div>
            <div class="schedule_time time-from-sff">09:30</div>
            
            <div class="schedule_time time-from-e">10:00</div>
            <div class="schedule_time time-from-ef">10:30</div>
            <div class="schedule_time time-from-et">11:00</div>
            <div class="schedule_time time-from-eff">11:30</div>
            
            <div class="schedule_time time-from-n">12:00</div>
            <div class="schedule_time time-from-nf">12:30</div>
            <div class="schedule_time time-from-nt">13:00</div>
            <div class="schedule_time time-from-nff">13:30</div>

            <div class="schedule_time time-from-a">14:00</div>
            <div class="schedule_time time-from-af">14:30</div>
            <div class="schedule_time time-from-at">15:00</div>
            <div class="schedule_time time-from-aff">15:30</div>

            <div class="schedule_time time-from-b">16:00</div>
            <div class="schedule_time time-from-bf">16:30</div>
            <div class="schedule_time time-from-bt">17:00</div>
            <div class="schedule_time time-from-bff">17:30</div>

            <div class="schedule_time time-from-c">18:00</div>
            <div class="schedule_time time-from-cf">18:30</div>
            <div class="schedule_time time-from-ct">19:00</div>
            <div class="schedule_time time-from-cff">19:30</div>

            <div class="schedule_time time-from-d">20:00</div>
            <div class="schedule_time time-from-df">20:30</div>
            <div class="schedule_time time-from-dt">21:00</div>
            <div class="schedule_time time-from-dff">21:30</div>
            <!-- ./Time-->
            
            
            <!--  Grid Rows-->
            <div class="grid time-from-s time-to-sf schedule-row-from-sunday schedule-row-to-saturday"></div>  
            <div class="grid time-from-sf time-to-st schedule-row-from-sunday schedule-row-to-saturday"></div>
            <div class="grid time-from-st time-to-sff schedule-row-from-sunday schedule-row-to-saturday"></div>
            
            <div class="grid time-from-sff time-to-e schedule-row-from-sunday schedule-row-to-saturday"></div>
            <div class="grid time-from-e time-to-ef schedule-row-from-sunday schedule-row-to-saturday"></div>
            <div class="grid time-from-ef time-to-et schedule-row-from-sunday schedule-row-to-saturday"></div>
            <div class="grid time-from-et time-to-eff schedule-row-from-sunday schedule-row-to-saturday"></div>
            
            <div class="grid time-from-eff time-to-n schedule-row-from-sunday schedule-row-to-saturday"></div>
            <div class="grid time-from-n time-to-nf schedule-row-from-sunday schedule-row-to-saturday"></div>
            <div class="grid time-from-nf time-to-nt schedule-row-from-sunday schedule-row-to-saturday"></div>
            <div class="grid time-from-nt time-to-nff schedule-row-from-sunday schedule-row-to-saturday"></div>

            <div class="grid time-from-nff time-to-a schedule-row-from-sunday schedule-row-to-saturday"></div>
            <div class="grid time-from-a time-to-af schedule-row-from-sunday schedule-row-to-saturday"></div>
            <div class="grid time-from-af time-to-at schedule-row-from-sunday schedule-row-to-saturday"></div>
            <div class="grid time-from-at time-to-aff schedule-row-from-sunday schedule-row-to-saturday"></div>

            <div class="grid time-from-aff time-to-b schedule-row-from-sunday schedule-row-to-saturday"></div>
            <div class="grid time-from-b time-to-bf schedule-row-from-sunday schedule-row-to-saturday"></div>
            <div class="grid time-from-bf time-to-bt schedule-row-from-sunday schedule-row-to-saturday"></div>
            <div class="grid time-from-bt time-to-bff schedule-row-from-sunday schedule-row-to-saturday"></div>

            <div class="grid time-from-bff time-to-c schedule-row-from-sunday schedule-row-to-saturday"></div>
            <div class="grid time-from-c time-to-cf schedule-row-from-sunday schedule-row-to-saturday"></div>
            <div class="grid time-from-cf time-to-ct schedule-row-from-sunday schedule-row-to-saturday"></div>
            <div class="grid time-from-ct time-to-cff schedule-row-from-sunday schedule-row-to-saturday"></div>

            <div class="grid time-from-cff time-to-d schedule-row-from-sunday schedule-row-to-saturday"></div>
            <div class="grid time-from-d time-to-df schedule-row-from-sunday schedule-row-to-saturday"></div>
            <div class="grid time-from-df time-to-dt schedule-row-from-sunday schedule-row-to-saturday"></div>
            <div class="grid time-from-dt time-to-dff schedule-row-from-sunday schedule-row-to-saturday"></div>
            
            <div class="grid grid-last time-from-dff time-to-dff schedule-row-from-sunday schedule-row-to-saturday"></div>
            <!-- ./Grid Rows-->
            

            <!-- Grid Columns-->
            <div class="grid schedule-sunday time-from-s time-to-dff"></div>
            <div class="grid grid-last schedule-sunday time-from-dff time-to-dff"></div>
            
            <div class="grid schedule-monday time-from-s time-to-dff"></div>
            <div class="grid grid-last schedule-monday time-from-dff time-to-dff"></div>
            
            <div class="grid schedule-tuesday time-from-s time-to-dff"></div>
            <div class="grid grid-last schedule-tuesday time-from-dff time-to-dff"></div>
            
            <div class="grid schedule-wednesday time-from-s time-to-dff"></div>
            <div class="grid grid-last schedule-wednesday time-from-dff time-to-nff"></div>
            
            <div class="grid schedule-thursday time-from-s time-to-dff"></div>
            <div class="grid grid-last schedule-thursday time-from-dff time-to-dff"></div>
            
            <div class="grid schedule-friday time-from-s time-to-dff"></div>
            <div class="grid grid-last schedule-friday time-from-dff time-to-dff"></div>
            
            <div class="grid schedule-saturday time-from-s time-to-dff"></div>
            <div class="grid grid-last schedule-saturday time-from-dff time-to-dff"></div>
            <!-- ./Grid Columns-->

        </div>

        <script>
    
            /*
            $(document).ready(function () { 
                ... code ...
            })
            */

            let itemsSchedule = [];
            const arrColors = ['red', 'blue', 'green', 'yellow', 'purple'];
            const acrColors = {};
            
            {{#each schedule}}
                itemsSchedule.push({
                    'startDate'     : '{{this.startDate}}',
                    'endDate'       : '{{this.endDate}}',
                    'location'      : '{{this.location}}',
                    'weekday'       : '{{this.weekday}}',
                    'acronym'       : '{{this.acronym}}',
                    'classSection'  : '{{this.classSection}}'
                });
            {{/each}}

            console.log("itemsSchedule -> " + JSON.stringify(itemsSchedule))

            itemsSchedule = itemsSchedule.map(classSection => {
                return {
                    'keyfrom': convertTimeInterval(classSection['startDate']),
                    'keyto': convertTimeInterval(classSection['endDate']),
                    'text': `${classSection['acronym']}[${classSection['classSection']}] - Sala: ${classSection['location']}`,
                    'bg': getAcrColor(classSection['acronym']),
                    'days': [convertAcrToWeekday( classSection['weekday'] )]
                }
            });

            console.log("itemsSchedule2 -> " + JSON.stringify(itemsSchedule))

            itemsSchedule.forEach(function(sitem, index) {

                // console.log(index,sitem)
                sitem.days.forEach(function(sday, dindex) {
                    // console.log(sday, dindex)
                    $(".schedule").append(
                    '<div class="schedule-item'
                    +' schedule-'+ sday
                    +' time-from-'+ sitem.keyfrom
                    +' time-to-'+sitem.keyto
                    +' bg-'+sitem.bg+'">' /*tiramos  nt bg-'+sitem.bg+'">*/
                    +sitem.text
                    +'</div>'
                    )

                })

            })

            function convertTimeInterval(time) {
                switch (time) {

                    case '08:00':
                        return 's';
                    case '08:30':
                        return 'sf';
                    case '09:00':
                        return 'st';
                    case '09:30':
                        return 'sff';
                    
                    case '10:00':
                        return 'e';
                    case '10:30':
                        return 'ef';
                    case '11:00':
                        return 'et';
                    case '11:30':
                        return 'eff';

                    case '12:00':
                        return 'n';
                    case '12:30':
                        return 'nf';
                    case '13:00':
                        return 'nt';
                    case '13:30':
                        return 'nff';

                    case '14:00':
                        return 'a';
                    case '14:30':
                        return 'af';
                    case '15:00':
                        return 'at';
                    case '15:30':
                        return 'aff';

                    case '16:00':
                        return 'b';
                    case '16:30':
                        return 'bf';
                    case '17:00':
                        return 'bt';
                    case '17:30':
                        return 'bff';

                    case '18:00':
                        return 'c';
                    case '18:30':
                        return 'cf';
                    case '19:00':
                        return 'ct';
                    case '19:30':
                        return 'cff';

                    case '20:00':
                        return 'd';
                    case '20:30':
                        return 'df';
                    case '21:00':
                        return 'dt';
                    case '21:30':
                        return 'dff';
                
                    default:
                        console.log(`O tempo não entrou ${time}.`);
                }
            }

            function convertAcrToWeekday(acr) {
                
                switch (acr) {
                    case 'MO':
                        return 'monday';
                    case 'TU':
                        return 'tuesday';
                    case 'WE':
                        return 'wednesday';
                    case 'TH':
                        return 'thursday';
                    case 'FR':
                        return 'friday';
                    case 'ST':
                        return 'saturday';
                    case 'SU':
                        return 'sunday';
        
                    default:
                        console.log(`O dia não entrou ${acr}.`);
                }

            }

            function getAcrColor(acr) {
                console.log('--> ' + acr);
                // If the class already has an associated color, return it 
                if(acrColors.hasOwnProperty(acr))
                    return acrColors[acr];
                
                // Else, get a random color and return it   
                const color = randomColor();
                acrColors[acr] = color;

                return color;
            }

            function randomColor() {

                /// Randomly getting a color
                color = arrColors[Math.floor(Math.random() * arrColors.length)];
                
                const index = arrColors.indexOf(color);

                if (index > -1) {
                    arrColors.splice(index, 1);
                }

                return color;
            }

            /*
                buildItemTemplate({
                day: sday,
                keyfrom: sitem.keyfrom,
                keyto: sitem.keyto,
                bg: sitem.bg,
                text: sitem.text
                })

                function buildItemTemplate(args){
                    return ''.concat(
                        '<div class="schedule-item'
                        ,' schedule-', args.day
                        ,' time-from-', args.keyfrom
                        ,' time-to-',args.keyto
                        ,' nt bg-',args.bg,'">'
                        ,args.text
                        ,'</div>'
                    )     
                }
            */
                
        </script>

    {{else}}

        <div class="divSpacing">
            <p class="text-center">Ainda não estás inscrito a nenhuma disciplina.</p>
        </div>

    {{/if}}

</div>
